  <div>
  <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="final_date" [(ngModel)]="final_date" id="final_date" required  #finaldate="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
    <div [hidden]="finaldate.valid ||  finaldate.untouched">
    </div> 
 </div>
<button type="submit"  mat-raised-button color="primary" (click)="onUpdateDate()">Update</button>



<div *ngIf ="!flag">
<mat-card class="example-card">
  <mat-card-title>No DATA FOUND</mat-card-title>
</mat-card>
</div>
<div *ngIf ="flag">
    <mat-card class="example-card" *ngFor="let item of final_only_push ">
  <mat-card-title >Title : {{item.title}}</mat-card-title>
  <mat-card-subtitle>Date : {{item.date}}</mat-card-subtitle>
  <mat-card-content>
    <p>Bunting : {{item.bunting}}</p>
    <p>Notes : {{item.notes}}</p>
  </mat-card-content>
  
</mat-card>

</div>